$color-primary: #16a7d3ad;
$color-secandry: #333333;
$color-light: #f8f4f4;

$shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;

.navbar {
  color: $color-secandry;
  background: $color-primary;
  box-shadow: $shadow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__brand {
    align-self: center;
    justify-self: center;
    font-size: 4rem;
    color: $color-secandry;
  }
  &__nav {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
  }
  &__link {
    color: $color-light;
  }
}

.search {
  justify-self: center;
  align-self: center;
}

.auth {
  justify-self: center;
  align-self: center;
}
.signinButton {
}
.signOutButton {
  grid-column: 4/-1;
  margin-left: 1.5rem;
}
.login-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 20rem;
  justify-content: center;
  align-content: center;
}
input {
  grid-column: 6/7;
  padding: 1.2rem;
  margin-top: 1.5rem;
}
.signin-btn {
  grid-column: 6/7;
  grid-row: 3;
  margin-top: 2rem;
  background-color: #333333;
  padding: 1.2rem;
  color: #f8f4f4;
  border-radius: 2rem;
  justify-items: center;
  text-align: center;
  font-size: 1.5rem;
}
